---
import Section from "../../components/Section.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Banner from "../../sections/banner.astro";
---

<BaseLayout title="Community Helper" theme="dark">
  <img class="header-image" src={"/img/banners/bears-hills.svg"} aria-hidden />
  <main id="main">
    <Section variant="light" content="list">
      <div>
        <h3>The Community Banner</h3>
        <a href={"/img/banners/community-banner.png"} target="_blank"
          >Open the banner</a
        >
      </div>
      <hr />
      <div>
        <h3>The Slack Code</h3>
        <a href={"/img/slack/qr.png"} target="_blank">Open the Slack QR</a>
      </div>
    </Section>
  </main>
</BaseLayout>

<style>
  hr {
    margin: 3rem 0;
  }
  .header-image {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
</style>
