---
import Section from "../../components/Section.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Community Helper">
  <img
    class="block h-[400px] w-full object-cover"
    src={"/img/banners/default.svg"}
    aria-hidden
  />
  <main id="main">
    <Section variant="light" content="list">
      <div>
        <h3>The Community Banner</h3>
        <a href={"/img/banners/community-banner.png"} target="_blank"
          >Open the banner</a
        >
      </div>
      <div class="divider my-8"></div>
      <div>
        <h3>The Slack Code</h3>
        <a href={"/img/slack/qr.png"} target="_blank">Open the Slack QR</a>
      </div>
    </Section>
  </main>
</BaseLayout>
