---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import BearLink from "../components/BearLink.astro";

import Banner from "../content/banner.astro";
import { Content as News } from "../content/news.md";
import Speakers from "../content/speakers.astro";
import Agenda from "../content/agenda.astro";
import Friends from "../content/friends.astro";
import { Content as Description } from "../content/description.md";
import { Content as Theme } from "../content/theme.md";
import { Content as Event } from "../content/event.md";
import Organizers from "../content/organizers.astro";
import { CURRENT_YEAR } from "../data/constants";
---

<BaseLayout title={`JSHeroes ${CURRENT_YEAR} | Open-Source Community Event`}>
  <Banner />
  <main id="main">
    <Section variant="light" content="text">
      <News />
    </Section>
    <Section id="speakers" variant="dark" content="list">
      <Speakers />
    </Section>
    <Section variant="dark" content="text">
      <Theme />
      <span class="rocket-anchor">
        <img
          class="rocket"
          src="/img/props/rocket.svg"
          alt=""
          aria-hidden="true"
        />
      </span>
    </Section>
    <Section variant="light" content="text">
      <Agenda />
    </Section>
    <Section variant="dark" content="text">
      <Description />
      <span class="bear-anchor">
        <BearLink rotate={90} animation="scaleAndSlide" />
      </span>
    </Section>
    <Section id="sponsors" variant="light" content="list">
      <Friends />
    </Section>
    <Section variant="dark" content="text">
      <Event />
      <span class="earth-anchor">
        <a
          class="earth-link"
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.google.com/maps?saddr&daddr=Grand%20Hotel%20Italia,%20Strada%20Trifoiului%202,%20Cluj-Napoca%20400478,%20Romania"
          title="Get event location on Google Maps"
        >
          <img class="earth" src="/img/props/earth.svg" alt="" />
        </a>
      </span>
    </Section>
    <Section variant="light" content="list">
      <Organizers />
    </Section>
  </main>
</BaseLayout>

<style>
  .bear-anchor {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: -120px;
  }

  @media screen and (max-width: 1000px) {
    .bear-anchor,
    .earth-anchor,
    .rocket-anchor {
      display: none;
    }
  }

  .earth-anchor {
    position: absolute;
    z-index: 1;
    top: -100px;
    right: 25%;
  }

  .rocket-anchor {
    position: absolute;
    z-index: 1;
    top: -110px;
    right: 16%;
  }

  .earth-link {
    display: block;
    transition: transform var(--speed-move) ease-out;
  }

  .earth-link:hover {
    transform: scale(1.1);
  }

  .earth-link::after {
    display: none;
  }

  .earth {
    width: 200px;
  }

  .rocket {
    width: 200px;
  }
</style>
