---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import BearLink from "../components/BearLink.astro";

import Hero from "../content/hero.astro";
import { Content as News } from "../content/news.md";
import Speakers from "../content/speakers.astro";
import Friends from "../content/friends.astro";
import { Content as Description } from "../content/description.md";
import { Content as Theme } from "../content/theme.md";
import { Content as Event } from "../content/event.md";
import Organizers from "../content/organizers.astro";
---

<BaseLayout title="JSHeroes 2023 | Open-Source Community Event">
  <Hero />
  <main>
    <Section variant="light" content="text">
      <News />
    </Section>
    <Section id="speakers" variant="dark" content="list">
      <Speakers />
    </Section>
    <Section variant="light" content="text">
      <span class="rocket-anchor">
        <img class="rocket" src="/img/props/rocket.svg" />
      </span>
      <Theme />
    </Section>
    <Section variant="dark" content="text">
      <span class="bear-anchor">
        <BearLink rotate={90} animation="scaleAndSlide" />
      </span>
      <Description />
    </Section>
    <Section id="sponsors" variant="light" content="list">
      <Friends />
    </Section>
    <Section variant="dark" content="text">
      <span class="earth-anchor">
        <a
          class="earth-link"
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.google.com/maps?saddr&daddr=Grand%20Hotel%20Italia,%20Strada%20Trifoiului%202,%20Cluj-Napoca%20400478,%20Romania"
        >
          <img class="earth" src="/img/props/earth.svg" />
        </a>
      </span>
      <Event />
    </Section>
    <Section variant="light" content="list">
      <Organizers />
    </Section>
  </main>
</BaseLayout>

<style>
  .bear-anchor {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: -150px;
  }

  @media screen and (max-width: 1000px) {
    .bear-anchor,
    .earth-anchor,
    .rocket-anchor {
      display: none;
    }
  }

  .earth-anchor {
    position: absolute;
    z-index: 1;
    top: -50px;
    right: 25%;
  }

  .rocket-anchor {
    position: absolute;
    z-index: 1;
    top: -50px;
    right: 33%;
  }

  .earth-link {
    display: block;
    transition: transform var(--speed-move) ease-out;
  }

  .earth-link:hover {
    transform: scale(1.1);
  }

  .earth-link::after {
    display: none;
  }

  .earth {
    width: 200px;
  }

  .rocket {
    width: 200px;
  }
</style>
