---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import BearLink from "../components/BearLink.astro";

import Hero from "../content/hero.astro";
import { Content as News } from "../content/news.md";
import { Content as AfterMovie } from "../content/afterMovie.md";
import Speakers from "../content/speakers.astro";
import Agenda from "../content/agenda.astro";
import Friends from "../content/friends.astro";
import { Content as Description } from "../content/description.md";
import { Content as Theme } from "../content/theme.md";
import { Content as Event } from "../content/event.md";
import Footer from "../content/footer.astro";
---

<Layout title="Welcome to Astro.">
  <Hero />
  <main>
    <Section variant="light" content="text">
      <News />
    </Section>
    <Section variant="dark" content="text">
      <AfterMovie />
    </Section>
    <Section id="speakers" variant="light" content="list">
      <Speakers />
    </Section>
    <Section variant="dark" content="text">
      <span class="bear-anchor">
        <BearLink rotate={90} animation="scaleAndSlide" />
      </span>
      <Description />
    </Section>
    <Section id="agenda" variant="light" content="list">
      <Agenda />
    </Section>
    <Section variant="dark" content="text">
      <Theme />
    </Section>
    <Section id="sponsors" variant="light" content="list">
      <Friends />
    </Section>
    <Section variant="dark" content="text">
      <Event />
    </Section>
  </main>
  <Footer />
</Layout>

<style>
  .bear-anchor {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: -150px;
  }
</style>
