---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import BearLink from "../components/BearLink.astro";

import Banner from "../sections/banner.astro";
import News from "../sections/news.astro";
import Speakers from "../sections/speakers.astro";
import Agenda from "../sections/agenda.astro";
import Friends from "../sections/friends.astro";
import { Content as Description } from "../sections/description.md";
import { Content as Theme } from "../sections/theme.md";
import { Content as Event } from "../sections/event.md";
import Organizers from "../sections/organizers.astro";
import { day1, day2 } from "../data/agenda";
import { CFP_OPEN } from "@/data/constants";
import ImagesBanner from "@/components/ImagesBanner.astro";
---

<BaseLayout isHomePage>
  <Banner />
  <main id="main">

    <Section id="speakers" variant="dark" content="list">
      <Speakers />
    </Section>
    
    <Section variant="light" content="text">
      <Theme />
      {CFP_OPEN && (<p>Do you want to speak at JSHeroes? <a href="/speak">Submit a proposal</a> today!</p>)}
      <span class="absolute right-[16%] top-[-110px] z-10 hidden lg:block">
        <img
          class="w-[200px]"
          src="/img/props/rocket.svg"
          alt=""
          aria-hidden="true"
        />
      </span>
      <!-- <h2 class="mt-8">Agenda</h2>
      <p>
        This is just a draft version of the agenda.
      </p>
      <Agenda title="Day 1: Thursday May 14" agendaItems={day1} />
      <Agenda title="Day 2: Friday May 15" agendaItems={day2} /> -->
    </Section>
    <ImagesBanner images={["event/venue3.jpg", "event/venue5.jpg", "event/venue1.jpg"]} />
    <Section variant="dark" content="text">
      <Event />
      
      <!-- <span class="absolute right-[-100px] top-[100px] z-10 hidden lg:block">
        <BearLink rotate={330} animation="scaleAndSlide" />
      </span> -->
      <span class="absolute right-1/4 top-[-50px] z-10 hidden lg:block">
        <a
          class="duration-speed-move block transition-transform ease-out after:hidden hover:scale-110"
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.google.com/maps?saddr&daddr=Grand%20Hotel%20Italia,%20Strada%20Trifoiului%202,%20Cluj-Napoca%20400478,%20Romania"
          aria-label="Get event location on Google Maps"
          title="Get event location on Google Maps"
        >
          <img class="w-[200px]" src="/img/props/earth.svg" alt="" />
        </a>
      </span>
    </Section>
    <ImagesBanner images={["event/community1.jpg", "event/community7.jpg", "event/merch1.jpg"]} />
    <Section variant="dark" content="text">
      <Description />
    </Section>
    <Section id="sponsors" variant="light" content="list">
      <Friends />
    </Section>
    <ImagesBanner images={["event/venue4.jpg", "event/community3.jpg", "event/community5.jpg"]} />
    <Section variant="dark" content="list">
      <Organizers />
    </Section>
  </main>
</BaseLayout>
