---
import { YouTube } from "@astro-community/astro-embed-youtube";

import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
---

<BaseLayout title="Media Kit" theme="dark">
  <img class="header-image" src={"/img/banners/bears-hills.svg"} aria-hidden />
  <main id="main">
    <Section variant="light" content="list">
      <h1>JSHeroes Media Kit</h1>

      <div class="container column base-padding-bottom">
        <strong>On this page you will find:</strong>
        <ul>
          <li>
            <a href="#about">About JSHeroes</a>
          </li>
          <li>
            <a href="#brand">Logos & Brand</a>
          </li>
          <li>
            <a href="#typeface">Typeface</a>
          </li>
          <li>
            <a href="#image-gallery">Image Gallery</a>
          </li>
          <li>
            <a href="#video-gallery">Video Gallery</a>
          </li>
        </ul>
      </div>

      <div id="about">
        <h2>About JSHeroes</h2>
        <p>
          <strong>JSHeroes</strong> is a yearly event organised by the local JavaScript
          community in Cluj, Romania. Our journey started in 2017 with a plan: for
          JSHeroes to be the biggest tech conference in Romania, dedicated solely
          to <strong>JavaScript</strong>. This year, 2023 (our 5th edition) we
          will get our engine going with <strong>20</strong> international JS experts
          and we have chosen a venue that can accommodate up to <strong
            >700 attendees</strong
          >. Join us on May the <strong>18th and 19th, 2023</strong>, at Grand
          Hotel Italia, in Cluj-Napoca.
        </p>
        <p>
          <strong>JSHeroes</strong> is a non-profit community-organised conference.
          Our goal is to bring together <strong>JS</strong> and <strong
            >Web/Frontend</strong
          > development enthusiasts from all over the world for a <strong
            >two-day</strong
          > event with: great talks, amazing networking and tons of fun. You bring
          your ideas and desire to learn, we provide the relaxed atmosphere and the
          good vibes.
        </p>
        <p>
          We believe that the <strong>community</strong> and the <strong
            >open-source</strong
          > models are well suited for our core values: learning, teaching and knowledge
          sharing. Our mission is to inspire other communities with the concept of
          open-source events.
        </p>
        <p>
          We are publishing all data about this conference, in <a
            href="/blog/2023-transparency-plan">full transparency</a
          >. We are also available at any time for inquires and we are really
          looking forward to sharing our knowledge about organising
          international events. This way, whenever a community wants to start
          something similar, they can build on our knowledge.
        </p>
      </div>
    </Section>
    <div class="divider"></div>
    <Section variant="light" content="list" id="brand">
      <div class="base-padding-bottom">
        <h2>Logos & Brand</h2>

        <div>
          <p>When using the <strong>JSHeroes brand</strong>:</p>
          <ul>
            <li>Please don't edit or recolor the logo.</li>
            <li>
              The JSHeroes logo likes a little elbow room, so don't place copy
              or graphic element in close proximity.
            </li>
            <li>
              Please don't use our name or logo in ways that may be misleading
              or suggest endorsement by JSHeroes of your product or service.
            </li>
            <li>
              JSHeroes reserves the right to terminate or modify any use of the
              logo.
            </li>
          </ul>
        </div>

        <div class="logos">
          <div>
            <img class="logo-white" alt="JSHeroes" src="img/logo-light.svg" />
            <p>
              On white backgrounds, use the blue-black JSHeroes logo which is
              our primary brand mark.
            </p>
          </div>
          <div>
            <img class="logo-black" alt="JSHeroes" src="img/logo-dark.svg" />
            <p>
              On coloured or photo backgrounds, use the blue-white JSHeroes
              logo.
            </p>
          </div>
        </div>

        <div class="container">
          <div class="dodger-blue">
            <div class="circle"></div>
            <div class="color-description">
              <span><strong>Dodger Blue</strong></span>
              <span>#0098FF</span>
              <span>R0 G152 B255</span>
              <span>C1 M0.40 Y0 K0</span>
            </div>
          </div>
          <div class="black-pearl">
            <div class="circle"></div>
            <div class="color-description">
              <span><strong>Black Pearl</strong></span>
              <span>#001C2B</span>
              <span>R0 G28 B43</span>
              <span>C1 M0.35 Y0 K0.83</span>
            </div>
          </div>
        </div>

        <p>
          <strong>Colors:</strong> RGB for web, CMYK for print
        </p>

        <div class="container">
          <a
            class="cta-button"
            target="_blank"
            href="https://drive.google.com/drive/folders/1sofbnmpPLksST8QNsiWuXIbKJ3KO-w06"
            >Download all logos</a
          >
        </div>
      </div>

      <div class="base-padding-bottom">
        <h3>Ecma</h3>
        <p>Mr. and Ms. Ecma the bears are the brand mascots of JSHeroes.</p>

        <div class="mascots">
          <img
            alt="Ecma, JSHeroes mascot wearing a space suit and waving"
            src="img/props/hello-bear.svg"
          />
          <img
            alt="Ecma, JSHeroes Mr. bear mascot"
            src="img/props/traditional-bear.svg"
          />
          <img
            alt="Ecma, JSHeroes Mrs. bear mascot"
            src="img/props/ms-bear.svg"
          />
        </div>

        <div class="container">
          <a
            class="cta-button"
            target="_blank"
            href="https://drive.google.com/drive/folders/10h4YfifW5DJRn7Cc5nnOsDa78E359C-m"
            >Download Ecma visuals</a
          >
        </div>
      </div>

      <div>
        <h3>Brand colors</h3>
        <p>
          Our Primary Brand Colors include all the following colors found in our
          logo. Similarly, the Secondary Colors, although not included in our
          logo support and go very nicely with the Primary Brand Colors.
        </p>
        <p>
          We request you to use the exact colors so as to maintain consistency
          in brand representation.
        </p>

        <div class="colors">
          <div>
            <div class="dodger-blue">
              <div class="circle"></div>
              <div class="color-description">
                <span><strong>Dodger Blue</strong></span>
                <span>#0098FF</span>
                <span>R0 G152 B255</span>
                <span>C1 M0.40 Y0 K0</span>
              </div>
            </div>

            <div class="black-pearl">
              <div class="circle"></div>
              <div class="color-description">
                <span><strong>Black Pearl</strong></span>
                <span>#001C2B</span>
                <span>R0 G28 B43</span>
                <span>C1 M0.35 Y0 K0.83</span>
              </div>
            </div>

            <div class="pure-white">
              <div class="circle"></div>
              <div class="color-description">
                <span><strong>Pure White</strong></span>
                <span>#FFFFFF</span>
                <span>R255 G255 B255</span>
                <span>C0 M0 Y0 K0</span>
              </div>
            </div>
          </div>

          <h3>Primary Colors</h3>
        </div>

        <div class="colors">
          <div>
            <div class="grandis">
              <div class="circle"></div>
              <div class="color-description">
                <span><strong>Grandis</strong></span>
                <span>#FFCC67</span>
                <span>R255 G204 B103</span>
                <span>C0 M0.2 Y0.60 K0</span>
              </div>
            </div>

            <div class="downy">
              <div class="circle"></div>
              <div class="color-description">
                <span><strong>Downy</strong></span>
                <span>#65D3BB</span>
                <span>R101 G211 B187</span>
                <span>C0.52 M0 Y0.11 K0.17</span>
              </div>
            </div>

            <div class="wild-watermelon">
              <div class="circle"></div>
              <div class="color-description">
                <span><strong>Wild Watermelon</strong></span>
                <span>#FF6078</span>
                <span>R255 G96 B120</span>
                <span>C0 M0.62 Y0.53 K0</span>
              </div>
            </div>
          </div>

          <h3>Secondary Colors</h3>
        </div>
      </div>
    </Section>
    <div class="divider"></div>

    <Section id="typeface" variant="light" content="list">
      <h2>Typeface</h2>
      <p>
        The font we use on the website and print materials is called <strong
          >'Ubuntu'</strong
        >. Black, Bold, Medium and Regular are used.
      </p>
    </Section>
    <div class="divider"></div>

    <Section id="image-gallery" variant="light" content="list">
      <div>
        <h2>Image Gallery</h2>

        <p>The Gallery contains images from our latest 3 editions.</p>
        <p>
          Images are available for editorial purposes only, credits must be
          includes. Download is not allowed for commercial use.
        </p>

        <div class="gallery">
          <div class="container column">
            <a
              target="_blank"
              href="https://drive.google.com/drive/folders/1TxUO0ArQMC65mBfWPFrklNsren1I8nHl"
            >
              <img src="img/gallery/jsh-2022.png" alt="JSHeroes 2022" />
            </a>
            <strong>JSHeroes 2022</strong>
          </div>

          <div class="container column">
            <a
              target="_blank"
              href="https://drive.google.com/drive/folders/1dA_XDg9kUhyjIlV3HuekPEE4NG2M7tju"
            >
              <img src="img/gallery/jsh-2019.png" alt="JSHeroes 2019" />
            </a>
            <strong>JSHeroes 2019</strong>
          </div>

          <div class="container column">
            <a
              target="_blank"
              href="https://drive.google.com/drive/folders/1Bhl8xiXQkvh2SZyREfC0SeGsUUYgk7qf"
            >
              <img src="img/gallery/jsh-2018.png" alt="JSHeroes 2018" />
            </a>
            <strong>JSHeroes 2018</strong>
          </div>
        </div>
      </div>
    </Section>

    <div class="divider"></div>

    <Section id="video-gallery" variant="light" content="list">
      <h2>Video Gallery</h2>

      <p>Videos are from our latest 3 editions.</p>
      <p>
        When using the videos, please mention the source JSHeroes. Download is
        not allowed for commercial use.
      </p>

      <div class="gallery">
        <YouTube id="N6qr6L37sl8" class="youtube-player" />

        <YouTube id="munltx48_xI" class="youtube-player" />

        <YouTube id="jdr9eQGq97g" class="youtube-player" />

        <YouTube id="Zx2moTy-yAg" class="youtube-player" />
      </div>
    </Section>
  </main>
</BaseLayout>

<style>
  html {
    scroll-behavior: smooth;
  }

  .header-image {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .youtube-player {
    width: 384px;
    height: 246px;
  }

  .colors {
    display: flex;
    align-items: center;
    padding: 1rem 0;
  }

  .colors > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pure-white {
    position: relative;
    left: -30px;
  }

  .pure-white .circle {
    background: #ffffff;
    border: 1px solid #000000;
  }

  .black-pearl {
    position: relative;
    left: -15px;
  }

  .black-pearl .circle {
    background: #001c2b;
  }

  .dodger-blue .circle {
    background: #0098ff;
  }

  .grandis .circle {
    background: #ffcc67;
  }

  .downy {
    position: relative;
    left: -15px;
  }

  .downy .circle {
    background: #65d3bb;
  }

  .wild-watermelon {
    position: relative;
    left: -30px;
  }

  .wild-watermelon .circle {
    background: #ff6078;
  }

  .mascots {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .color-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }

  .container {
    display: flex;
  }

  .column {
    flex-direction: column;
  }

  .base-padding-bottom {
    padding-bottom: 2rem;
  }

  .divider {
    border: 1px solid var(--color-neutral-separator);
    width: 90%;
    margin: 0 auto;
  }

  .logos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5rem;
    padding: 30px 0;
  }

  .logos div {
    max-width: min-content;
  }

  .logo-white {
    background: white;
    padding: 20px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .logo-black {
    background: black;
    padding: 20px;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  @media screen and (max-width: 756px) {
    .header-image {
      object-position: 66.3% 50%;
    }
    .logos {
      flex-direction: column;
      align-items: center;
    }

    .mascots {
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 1rem;
    }

    .colors {
      flex-direction: column;
    }

    .colors > div {
      order: 1;
      flex-direction: column;
      gap: 1rem;
    }

    .colors > div * {
      left: 0;
    }

    .gallery {
      flex-direction: column;
    }

    .gallery * {
      width: 100%;
    }
  }
</style>
