---
import { YouTube } from "@astro-community/astro-embed-youtube"

import BaseLayout from "../layouts/BaseLayout.astro"
import Section from "../components/Section.astro"
---

<BaseLayout title="Media Kit" theme="dark">
  <img
    class="block h-[500px] w-full object-cover"
    src={"/img/banners/bears-hills.svg"}
    aria-hidden
  />
  <main id="main" class="prose max-w-none prose-h2:mt-0">
    <Section variant="light" content="list">
      <h1>JSHeroes Media Kit</h1>

      <div class="mb-8">
        <p class="font-bold">On this page you will find:</p>
        <ul class="not-prose">
          <li>
            <a href="#about" class="not-prose">About JSHeroes</a>
          </li>
          <li>
            <a href="#brand" class="not-prose">Logos & Brand</a>
          </li>
          <li>
            <a href="#typeface" class="not-prose">Typeface</a>
          </li>
          <li>
            <a href="#image-gallery" class="not-prose">Image Gallery</a>
          </li>
          <li>
            <a href="#video-gallery" class="not-prose">Video Gallery</a>
          </li>
        </ul>
      </div>

      <div id="about">
        <h2>About JSHeroes</h2>
        <p>
          <strong>JSHeroes</strong> is a yearly event organised by the local JavaScript
          community in Cluj, Romania. Our journey started in 2017 with a plan: for
          JSHeroes to be the biggest tech conference in Romania, dedicated solely
          to <strong>JavaScript</strong>. This year, 2025 (our 7th edition) we
          will get our engine going with <strong>19</strong> international JS experts
          and we have chosen a venue that can accommodate up to <strong
            >600 attendees</strong
          >. Join us on May the <strong>29th and 30th, 2025</strong>, in
          Cluj-Napoca, Romania.
        </p>
        <p>
          <strong>JSHeroes</strong> is a non-profit community-organised conference.
          Our goal is to bring together <strong>JS</strong> and <strong
            >Web/Frontend</strong
          > development enthusiasts from all over the world for a <strong
            >two-day</strong
          > event with: great talks, amazing networking and tons of fun. You bring
          your ideas and desire to learn, we provide the relaxed atmosphere and the
          good vibes.
        </p>
        <p>
          We believe that the <strong>community</strong> and the <strong
            >open-source</strong
          > models are well suited for our core values: learning, teaching and knowledge
          sharing. Our mission is to inspire other communities with the concept of
          open-source events.
        </p>
        <p>
          We are publishing all data about this conference, in <a
            class="not-prose"
            href="/transparency">full transparency</a
          >. We are also available at any time for inquires and we are really
          looking forward to sharing our knowledge about organising
          international events. This way, whenever a community wants to start
          something similar, they can build on our knowledge.
        </p>
      </div>
    </Section>
    <div class="divider w-11/12"></div>
    <Section variant="light" content="list" id="brand">
      <div>
        <h2>Logos & Brand</h2>

        <div>
          <p>When using the <strong>JSHeroes brand</strong>:</p>
          <ul>
            <li>Please don't edit or recolor the logo.</li>
            <li>
              The JSHeroes logo likes a little elbow room, so don't place copy
              or graphic element in close proximity.
            </li>
            <li>
              Please don't use our name or logo in ways that may be misleading
              or suggest endorsement by JSHeroes of your product or service.
            </li>
            <li>
              JSHeroes reserves the right to terminate or modify any use of the
              logo.
            </li>
          </ul>
        </div>

        <div
          class="flex flex-col items-center gap-8 pb-8 md:flex-row md:items-start md:gap-12"
        >
          <div class="max-w-40">
            <img
              class="bottom-1 border bg-neutral-light p-4 drop-shadow"
              alt="JSHeroes"
              src="img/logo-light.svg"
            />
            <p class="text-sm">
              On white backgrounds, use the blue-black JSHeroes logo which is
              our primary brand mark.
            </p>
          </div>
          <div class="max-w-40">
            <img
              class="bg-neutral-dark p-4"
              alt="JSHeroes"
              src="img/logo-dark.svg"
            />
            <p class="text-sm">
              On coloured or photo backgrounds, use the blue-white JSHeroes
              logo.
            </p>
          </div>
        </div>

        <div class="flex justify-center md:justify-normal">
          <div>
            <div class="h-28 w-28 rounded-full bg-dodger-blue md:h-40 md:w-40">
            </div>
            <div class="flex flex-col items-center justify-center text-xs">
              <span><strong>Dodger Blue</strong></span>
              <span>#0098FF</span>
              <span>R0 G152 B255</span>
              <span>C1 M0.40 Y0 K0</span>
            </div>
          </div>
          <div class="relative left-[-1rem]">
            <div class="h-28 w-28 rounded-full bg-black-pearl md:h-40 md:w-40">
            </div>
            <div class="flex flex-col items-center justify-center text-xs">
              <span><strong>Black Pearl</strong></span>
              <span>#001C2B</span>
              <span>R0 G28 B43</span>
              <span>C1 M0.35 Y0 K0.83</span>
            </div>
          </div>
        </div>

        <p>
          <strong>Colors:</strong> RGB for web, CMYK for print
        </p>

        <div class="flex py-4">
          <a
            class="cta-button"
            target="_blank"
            href="https://drive.google.com/drive/folders/1sofbnmpPLksST8QNsiWuXIbKJ3KO-w06"
            >Download all logos</a
          >
        </div>
      </div>

      <div>
        <h3>Ecma</h3>
        <p>Mr. and Ms. Ecma the bears are the brand mascots of JSHeroes.</p>

        <div
          class="flex flex-col items-center gap-4 pb-4 md:flex-row md:gap-12"
        >
          <img
            alt="Ecma, JSHeroes mascot wearing a space suit and waving"
            src="img/props/hello-bear.svg"
          />
          <img
            alt="Ecma, JSHeroes Mr. bear mascot"
            src="img/props/traditional-bear.svg"
          />
          <img
            alt="Ecma, JSHeroes Mrs. bear mascot"
            src="img/props/ms-bear.svg"
          />
        </div>

        <div class="flex py-4">
          <a
            class="cta-button"
            target="_blank"
            href="https://drive.google.com/drive/folders/10h4YfifW5DJRn7Cc5nnOsDa78E359C-m"
            >Download Ecma visuals</a
          >
        </div>
      </div>

      <div>
        <h3>Brand colors</h3>
        <p>
          Our Primary Brand Colors include all the following colors found in our
          logo. Similarly, the Secondary Colors, although not included in our
          logo support and go very nicely with the Primary Brand Colors.
        </p>
        <p>
          We request you to use the exact colors so as to maintain consistency
          in brand representation.
        </p>

        <div class="flex flex-col-reverse items-center py-4 md:flex-row">
          <div
            class="flex flex-col items-center justify-center gap-4 md:flex-row md:gap-0"
          >
            <div>
              <div
                class="h-36 w-36 rounded-full bg-dodger-blue md:h-40 md:w-40"
              >
              </div>
              <div class="flex flex-col items-center justify-center text-xs">
                <span><strong>Dodger Blue</strong></span>
                <span>#0098FF</span>
                <span>R0 G152 B255</span>
                <span>C1 M0.40 Y0 K0</span>
              </div>
            </div>

            <div class="relative left-0 md:left-[-1rem]">
              <div
                class="h-36 w-36 rounded-full bg-black-pearl md:h-40 md:w-40"
              >
              </div>
              <div class="flex flex-col items-center justify-center text-xs">
                <span><strong>Black Pearl</strong></span>
                <span>#001C2B</span>
                <span>R0 G28 B43</span>
                <span>C1 M0.35 Y0 K0.83</span>
              </div>
            </div>

            <div class="relative left-0 md:left-[-2rem]">
              <div
                class="border-1 h-36 w-36 rounded-full border bg-neutral-light md:h-40 md:w-40"
              >
              </div>
              <div class="flex flex-col items-center justify-center text-xs">
                <span><strong>Pure White</strong></span>
                <span>#FFFFFF</span>
                <span>R255 G255 B255</span>
                <span>C0 M0 Y0 K0</span>
              </div>
            </div>
          </div>

          <h3>Primary Colors</h3>
        </div>

        <div class="flex flex-col-reverse items-center py-4 md:flex-row">
          <div
            class="flex flex-col items-center justify-center gap-4 md:flex-row md:gap-0"
          >
            <div>
              <div
                class="h-36 w-36 rounded-full bg-accent-orange md:h-40 md:w-40"
              >
              </div>
              <div class="flex flex-col items-center justify-center text-xs">
                <span><strong>Grandis</strong></span>
                <span>#FFCC67</span>
                <span>R255 G204 B103</span>
                <span>C0 M0.2 Y0.60 K0</span>
              </div>
            </div>

            <div class="relative left-0 md:left-[-1rem]">
              <div
                class="h-36 w-36 rounded-full bg-accent-green md:h-40 md:w-40"
              >
              </div>
              <div class="flex flex-col items-center justify-center text-xs">
                <span><strong>Downy</strong></span>
                <span>#65D3BB</span>
                <span>R101 G211 B187</span>
                <span>C0.52 M0 Y0.11 K0.17</span>
              </div>
            </div>

            <div class="relative left-0 md:left-[-2rem]">
              <div
                class="h-36 w-36 rounded-full bg-accent-pink md:h-40 md:w-40"
              >
              </div>
              <div class="flex flex-col items-center justify-center text-xs">
                <span><strong>Wild Watermelon</strong></span>
                <span>#FF6078</span>
                <span>R255 G96 B120</span>
                <span>C0 M0.62 Y0.53 K0</span>
              </div>
            </div>
          </div>

          <h3>Secondary Colors</h3>
        </div>
      </div>
    </Section>
    <div class="divider w-11/12"></div>

    <Section id="typeface" variant="light" content="list">
      <h2>Typeface</h2>
      <p>
        The font we use on the website and print materials is called <strong
          >'Ubuntu'</strong
        >. Black, Bold, Medium and Regular are used.
      </p>
    </Section>
    <div class="divider w-11/12"></div>

    <Section id="image-gallery" variant="light" content="list">
      <div>
        <h2>Image Gallery</h2>

        <p>The Gallery contains images from our latest 3 editions.</p>
        <p>
          Images are available for editorial purposes only, credits must be
          includes. Download is not allowed for commercial use.
        </p>

        <div class="flex flex-wrap justify-center gap-6">
          <div>
            <a
              target="_blank"
              href="https://drive.google.com/drive/u/0/folders/1FyZhZreQWiCossqJOCOx1w0LJ2SZmWL-"
            >
              <img
                src="img/gallery/jsh-2023.jpg"
                alt="JSHeroes 2023"
                class="h-[246px] w-[384px]"
              />
            </a>
            <strong>JSHeroes 2023</strong>
          </div>

          <div>
            <a
              target="_blank"
              href="https://drive.google.com/drive/folders/1TxUO0ArQMC65mBfWPFrklNsren1I8nHl"
            >
              <img
                src="img/gallery/jsh-2022.png"
                alt="JSHeroes 2022"
                class="h-[246px] w-[384px]"
              />
            </a>
            <strong>JSHeroes 2022</strong>
          </div>

          <div>
            <a
              target="_blank"
              href="https://drive.google.com/drive/folders/1dA_XDg9kUhyjIlV3HuekPEE4NG2M7tju"
            >
              <img
                src="img/gallery/jsh-2019.png"
                alt="JSHeroes 2019"
                class="h-[246px] w-[384px]"
              />
            </a>
            <strong>JSHeroes 2019</strong>
          </div>

          <div>
            <a
              target="_blank"
              href="https://drive.google.com/drive/folders/1Bhl8xiXQkvh2SZyREfC0SeGsUUYgk7qf"
            >
              <img
                src="img/gallery/jsh-2018.png"
                alt="JSHeroes 2018"
                class="h-[246px] w-[384px]"
              />
            </a>
            <strong>JSHeroes 2018</strong>
          </div>
        </div>
      </div>
    </Section>

    <div class="divider w-11/12"></div>

    <Section id="video-gallery" variant="light" content="list">
      <h2>Video Gallery</h2>

      <p>Videos are from our latest 3 editions.</p>
      <p>
        When using the videos, please mention the source JSHeroes. Download is
        not allowed for commercial use.
      </p>

      <div class="flex flex-wrap justify-center gap-6">
        <YouTube id="N6qr6L37sl8" class="w-96" />

        <YouTube id="munltx48_xI" class="w-96" />

        <YouTube id="jdr9eQGq97g" class="w-96" />

        <YouTube id="Zx2moTy-yAg" class="w-96" />
      </div>
    </Section>
  </main>
</BaseLayout>
