---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";

import { Content as MeetEcma } from "../content/meet-ecma.md";
---

<Layout title="Welcome to Astro.">
  <img class="header-image" src="/img/meet-ecma-header.png" />
  <main>
    <Section variant="light" content="text">
      <MeetEcma />
    </Section>
  </main>
</Layout>

<style>
  .header-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  :global(h1) {
    font-size: 2rem !important;
  }
</style>
