---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Section from "@/components/Section.astro";
import Banner from "@/sections/banner.astro";
---

<BaseLayout>
  <Banner variant="sponsor" />

  <main id="main">
    <Section variant="light" content="list">
      <h2 class="text-center text-xl">Sponsors welcome!</h2>
      <p class="text-balance text-center">
        What started as a small idea from the local JavaScript community,
        evolved into one of the biggest community-organized events in Europe.
      </p>
      <div
        class="grid grid-cols-1 items-center gap-0 font-display sm:gap-4 md:grid-cols-2 lg:grid-cols-3 xl:gap-8"
      >
        <div class="flex flex-col items-center">
          <span class="text-huge font-[500] text-accent-pink">600</span>
          <span class="mt-[-3rem] text-lg font-[500]">attendees</span>
          <span>25% international audience</span>
        </div>

        <div class="flex flex-col items-center">
          <span class="text-huge font-[500] text-dodger-blue">19</span>
          <span class="mt-[-3rem] text-lg font-[500]">speakers</span>
          <span>16 countries / 5 continents</span>
        </div>

        <div class="flex flex-col items-center">
          <span class="text-huge font-[500] text-accent-green">2</span>
          <span class="mt-[-3rem] text-lg font-[500]">days</span>
          <span>16 hours of quality content</span>
        </div>

        <div class="flex flex-col items-center">
          <span class="text-huge font-[500] text-accent-orange">2.8K</span>
          <span class="mt-[-3rem] text-lg font-[500]">community members</span>
          <span>on our meetup.com group</span>
        </div>

        <div class="flex flex-col items-center">
          <span class="text-huge font-[500] text-accent-green">6K</span>
          <span class="mt-[-3rem] text-lg font-[500]">followers</span>
          <span>across LinkedIn, Facebook and Twitter</span>
        </div>

        <div class="flex flex-col items-center">
          <span class="text-huge font-[500] text-accent-pink">3.2K</span>
          <span class="mt-[-3rem] text-lg font-[500]">subscribers</span>
          <span>on our YouTube channel</span>
        </div>
      </div>
    </Section>

    <Section variant="dark" content="list">
      <h2>Why should you sponsor us?</h2>

      <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-16">
        <div>
          <h3>Exposure to a dedicated community</h3>
          <p class="mt-4">
            Community events get the best out of people that want to share
            ideas, network or find new opportunities. You can expect a balanced
            mix of seasoned professionals and fast growing beginners to come in
            contact with your company.
          </p>
        </div>

        <div>
          <h3>Brand association</h3>
          <p class="mt-4">
            Over the past 7 years, JSHeroes has grown into one of the most <strong
              >recognizable</strong
            > brands in the JavaScript community in Romania and beyond. Your company
            will benefit from being showcased on our visuals and video recordings.
          </p>
        </div>
      </div>

      <div class="mt-0 grid grid-cols-1 gap-8 md:mt-8 md:grid-cols-2 md:gap-16">
        <div>
          <h3>Join our mission</h3>
          <p class="mt-4">
            We strongly believe that JavaScript is the future. Therefore, our
            mission is to <strong>grow</strong> together with the local community.
            Through JSHeroes, we aim to keep everyone in sync with the latest advancements
            and trends in the world of JavaScript and web development.
          </p>
        </div>

        <div>
          <h3>Non-profit and transparent</h3>
          <p class="mt-4">
            We embraced the <strong>open source</strong> model from the beginning.
            All the details about the event are public and our budget and expenses
            are published after each event on <a href="/transparency"
              >our transparency page</a
            >.
          </p>
        </div>
      </div>
    </Section>

    <Section variant="light" content="list">
      <h2>What you get</h2>

      <p>
        We have created a single sponsoring package of <strong>3000€</strong> that
        gives you the following benefits.
      </p>

      <div class="mt-2">
        <div class="flex items-center gap-2">
          <span class="hidden md:inline-flex">
            <img src="/img/props/rocket.svg" alt="" class="h-4 w-4" />
          </span>
          <p>
            <strong>Two mentions</strong> on each of our social media pages:
          </p>
        </div>

        <ul>
          <li>
            one individual spotlight with a customized message announcing the
            partnership
          </li>
          <li>one post with all sponsors, right before the event</li>
        </ul>
      </div>

      <div class="mt-2">
        <div class="flex items-center gap-2">
          <span class="hidden md:inline-flex">
            <img src="/img/props/rocket.svg" alt="" class="h-4 w-4" />
          </span>
          <p><strong>Your logo</strong> will be added:</p>
        </div>

        <ul>
          <li>on the website</li>
          <li>on the final newsletter email we send to all attendees</li>
          <li>on each conference badge</li>
          <li>
            on the main event room screen, during all coffee and lunch breaks
          </li>
          <li>on all video recordings published after the event</li>
        </ul>
      </div>

      <div class="mt-2 flex items-center gap-2">
        <span class="hidden md:inline-flex">
          <img src="/img/props/rocket.svg" alt="" class="h-4 w-4" />
        </span>
        <p>
          You get a <strong>10% discount</strong> on all ticket types for the event.
        </p>
      </div>

      <div class="mt-1 flex items-center gap-2">
        <span class="hidden md:inline-flex">
          <img src="/img/props/rocket.svg" alt="" class="h-4 w-4" />
        </span>
        <p>Your company roll-up will be in the main room during the event.</p>
      </div>

      <div class="mt-1 flex items-center gap-2">
        <span class="hidden md:inline-flex">
          <img src="/img/props/rocket.svg" alt="" class="h-4 w-4" />
        </span>
        <p>
          You can send us branded giveaways that will be placed in the sponsors
          area.
        </p>
      </div>

      <div class="mt-8">
        <h3 class="font-bold">Contact</h3>
        <p>Alexandra Retegan</p>
        <a href="mailto:welcome@jsheroes.io" class="block"
          >welcome@jsheroes.io</a
        >
        <a href="tel:0040756403372" class="block">+4 0756 403 372</a>
      </div>
    </Section>
    <Section variant="dark" content="list">
      <div class="flex flex-col gap-8">
        <h2 class="text-center">Let's write the next chapter together!</h2>
        <div>
          <img src="/img/sponsors-page/jsheroes-2023.jpg" alt="JSHeroes 2023" />
        </div>
      </div>
    </Section>
    <Section variant="light" content="list">
      <div class="mt-8 flex items-center gap-4">
        <div class="mr-4 hidden w-[286px] md:block">
          <img class="rounded-full" src="/img/sponsors-page/maarten.jpg" />
        </div>
        <blockquote class="flex max-w-[50ch] flex-col gap-2">
          <cite>
            <p>
              If there is one conference that you already should put on your
              shortlist for (the) next year(s), JSHeroes is the one.
            </p>
            <p>
              From seasoned veterans to emerging talents, the line-up every year
              is a true reflection of the Web community's diversity and
              innovation. The above-and-beyond hospitality of the organization,
              the diverse range of international attendees, and the focus on
              inclusiveness, makes JSHeroes Conference one of the top
              conferences in Europe.
            </p>
          </cite>

          <footer class="flex flex-col">
            <strong>Maarten van Hoof</strong>
            <span>Devops Engineer Frontend @ Essent</span>
          </footer>
        </blockquote>
      </div>
      <div class="ml-0 flex items-center gap-4 md:ml-auto">
        <blockquote
          class="mr-4 flex max-w-[50ch] flex-col gap-2 text-left md:text-right"
        >
          <cite>
            People just start talking about their pains in the code business.
            It's amazing! It feels like a group therapy, in a way. And this is
            something you cannot replace when doing online events.
          </cite>
          <footer class="flex flex-col">
            <strong>Natalia Tepluhina</strong>
            <span>Principal Engineer @ Gitlab</span>
          </footer>
        </blockquote>
        <div class="hidden w-[286px] md:block">
          <img
            class="rounded-full"
            src="/img/sponsors-page/natalia-tepluhina.jpg"
          />
        </div>
      </div>

      <div
        class="mt-8 flex flex-row flex-wrap items-center justify-center gap-2"
      >
        <img src="/img/sponsors-page/jsheroes-1.jpg" alt="JSHeroes 2023" />
        <img src="/img/sponsors-page/jsheroes-2.jpg" alt="JSHeroes 2023" />
        <img src="/img/sponsors-page/jsheroes-3.jpg" alt="JSHeroes 2023" />
        <img src="/img/sponsors-page/jsheroes-4.jpg" alt="JSHeroes 2023" />
        <img src="/img/sponsors-page/jsheroes-5.jpg" alt="JSHeroes 2023" />
        <img src="/img/sponsors-page/jsheroes-6.jpg" alt="JSHeroes 2023" />
      </div>
    </Section>
  </main>
</BaseLayout>
