---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Section from "@/components/Section.astro";

import Banner from "@/sections/banner.astro";
---

<BaseLayout>
  <Banner sponsorsOnly="true" />

  <main id="main">
    <Section variant="light" content="list">
      <p class="text-center">
        JSHeroes 2024 is a two-day conference, organized by the JavaScript
        community from Cluj. We are inspired by the open source software model,
        and aim to create an open source, non-profit event, where budgets and
        organizational details are transparent and shared with the community.
      </p>

      <div class="mt-8 grid grid-cols-1 gap-16 md:grid-cols-2">
        <section>
          <h3>Designed by the Community</h3>
          <p class="mt-4">
            The community model is the best environment for learning, so part of
            our mission is to inspire and help other communities. We’ll continue
            to publish, for the <b>6th edition</b> as well, all data about this conference,
            in full transparency. This way, whenever the next javascripters wish
            to take over this event, they can build on our knowledge and the already
            created brand.
          </p>
        </section>

        <section>
          <h3>Our Mission</h3>
          <p class="mt-4">
            We strongly believe that JavaScript is the future. Therefore, our
            mission is to provide an <b>opportunity</b> for <b>growing</b> and <b
              >improving the skills</b
            > in our local environment, and keep our community in sync with the latest
            advancements in the JavaScript ecosystem.
          </p>
        </section>
      </div>
    </Section>

    <Section variant="dark" content="list">
      <h2>What you get</h2>

      <p>
        We have created a single sponsoring package of <b>3000€</b> that includes:
      </p>

      <div class="mt-4">
        <div class="flex items-center gap-2">
          <span class="hidden md:inline-flex">
            <img src="/img/props/rocket.svg" alt="" class="h-4 w-4" />
          </span>
          <p>
            Two mentions by posting on the event’s <b>social media</b> pages
          </p>
        </div>

        <ul>
          <li>one individual spotlight after we shake hands</li>
          <li>one post including all sponsors, right before the event</li>
        </ul>
      </div>

      <div class="mt-4">
        <div class="flex items-center gap-2">
          <span class="hidden md:inline-flex">
            <img src="/img/props/rocket.svg" alt="" class="h-4 w-4" />
          </span>
          <p>Your <b>organization’s logo</b></p>
        </div>

        <ul>
          <li>on the event website</li>
          <li>on each participant’s name badge</li>
          <li>
            on the Conference room screen, during all coffee and lunch breaks
          </li>
          <li>in the event aftermovie</li>
        </ul>
      </div>

      <div class="mt-4 flex items-center gap-2">
        <span class="hidden md:inline-flex">
          <img src="/img/props/rocket.svg" alt="" class="h-4 w-4" />
        </span>
        <p>
          <b>10% discount</b> on all <b>ticket types</b> to the JSHeroes conference
        </p>
      </div>

      <div class="mt-4 flex items-center gap-2">
        <span class="hidden md:inline-flex">
          <img src="/img/props/rocket.svg" alt="" class="h-4 w-4" />
        </span>
        <p>
          Your organization’s <b>roll-up<sup>*</sup></b> in the Conference room
        </p>
      </div>

      <div class="mt-4 flex items-center gap-2">
        <span class="hidden md:inline-flex">
          <img src="/img/props/rocket.svg" alt="" class="h-4 w-4" />
        </span>
        <p>
          You can send us <b>personalized materials <sup>*</sup></b> that will be
          placed in the giveaways corner
        </p>
      </div>

      <small><sup>*</sup> for branding and not for recruiting</small>

      <div class="mt-8">
        <h3 class="font-bold">Contact</h3>
        <p>Alexandra Minzat</p>
        <a href="mailto:welcome@jsheroes.io" class="block"
          >welcome@jsheroes.io</a
        >
        <a href="tel:0040743941422" class="block">+4 0743 941 442</a>
      </div>
    </Section>
    <Section variant="light" content="list">
      <h2>JSHeroes Speaker Testimonials</h2>
      <div
        class="grid grid-cols-1 content-center justify-center gap-4 md:grid-cols-2"
      >
        <section class="max-w-[500px]">
          <div class="w-[286px]">
            <img src="/img/sponsors-page/liran.png" />
          </div>
          <blockquote class="mt-4">
            <p>
              To me, JSHeroes is a lot about JavaScript, but even more about the
              actual heroes which make this great community - the attendees with
              their appetite for knowledge, and the organizers who thought of
              every little detail to make this conference a great party of
              knowledge sharing playground.
            </p>

            <footer class="mt-4 font-semibold"><cite>Liran Tal</cite></footer>
          </blockquote>
        </section>
        <section class="max-w-[500px]">
          <div class="w-[286px]">
            <img src="/img/sponsors-page/natalia-tepluhina.jpg" />
          </div>
          <blockquote class="mt-4">
            <p>
              People just start talking about their pains in the code business.
              It's amazing! It feels like a group therapy, in a way. And this is
              something you cannot replace when doing online events.
            </p>
            <footer class="mt-4 font-semibold">
              <cite>Natalia Tepluhina</cite>
            </footer>
          </blockquote>
        </section>
      </div>

      <div class="mt-8">
        <div>
          <img src="/img/sponsors-page/jsheroes-2023.jpg" alt="JSHeroes 2023" />
        </div>
        <div
          class="mt-8 flex flex-row flex-wrap items-center justify-center gap-2"
        >
          <img src="/img/sponsors-page/jsheroes-1.jpg" alt="JSHeroes 2023" />
          <img src="/img/sponsors-page/jsheroes-2.jpg" alt="JSHeroes 2023" />
          <img src="/img/sponsors-page/jsheroes-3.jpg" alt="JSHeroes 2023" />
          <img src="/img/sponsors-page/jsheroes-4.jpg" alt="JSHeroes 2023" />
          <img src="/img/sponsors-page/jsheroes-5.jpg" alt="JSHeroes 2023" />
          <img src="/img/sponsors-page/jsheroes-6.jpg" alt="JSHeroes 2023" />
        </div>
      </div>
    </Section>
  </main>
</BaseLayout>
