---
import BearLink from "../components/BearLink.astro";
---

<div class="banner">
  <img class="cover" src="/img/banners/default.svg" alt="" />
  <div class="banner-content">
    <img class="logo" src="/img/logo-dark.svg" alt="JSHeroes" />
    <div><strong>Open-Source</strong> Community Event</div>

    <div class="date">May <span class="highlight">18-19th</span> 2023</div>

    <p>in Cluj-Napoca, Romania</p>
    <p>#ReturnOfTheHeroes</p>
    <span class="bear-anchor">
      <BearLink animation="scale" />
    </span>
  </div>
</div>
<style>
  .banner {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 756px) {
    .banner {
      height: 400px;
    }
  }

  .banner-content {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-family-display);
    position: absolute;
  }

  .banner-content p {
    margin: 0;
  }

  .logo {
    width: clamp(10rem, 30vw, 18rem);
  }

  .date {
    border: 2px solid white;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: var(--font-size-lg);
    font-weight: 500;
  }

  .highlight {
    font-size: 1.2em;
  }

  .bear-anchor {
    position: absolute;
    z-index: 1;
    bottom: -240px;
    right: -200px;
  }

  @media screen and (max-width: 756px) {
    .bear-anchor {
      bottom: -140px;
      right: -100px;
    }
  }

  @media screen and (max-width: 432px) {
    .bear-anchor {
      bottom: -140px;
      right: 0;
    }
  }
</style>
