<footer>
  <div class="content list">
    <div class="column">
        <strong>JSHeroes 2023</strong>
        <a href="#">Speak at JSHeroes</a>
        <a href="#">Schedule</a>
        <a href="#">Contact</a>
    </div>
    <div class="column">
    <strong>More info</strong>
        <a href="#">Meet Ecma</a>
        <a href="#">Code of Conduct</a>
        <a href="#">Alumni Speakers</a>
    </div>
    
    <div class="column">
    <strong>Past editions</strong>
        <a href="#">JSHeroes 2022</a>
        <a href="#">JSHeroes 2019</a>
        <a href="#">JSHeroes 2018</a>
    </div>
  </div>
</footer>

<style>
  footer {
    padding: 3rem 0;
    color: var(--color-neutral-light);
    background-color: var(--color-neutral-dark);
    font-family: var(--font-family-display);
  }
  
  .content {
    display: flex;
    justify-content: space-around;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
</style>
