<footer>
  <div class="content list">
    <p>one column</p>
    <p>two column</p>
    <p>Made with love by the community</p>
  </div>
</footer>

<style>
  footer {
    padding: 2rem;
    color: var(--color-neutral-light);
    background-color: var(--color-neutral-dark);
  }
</style>
