---
import { sponsors } from "../data/sponsors";
---

<div class="content center">
  <h2>Event Sponsors</h2>

  <p>
    These are the companies that support our event financially through the <strong
      >€2,000</strong
    > standard package:
  </p>
</div>

<ul role="list" class="sponsors-list">
  {
    sponsors.map((sponsor) => (
      <li class="sponsors-list-item">
        <a class="friend-link" href={sponsor.url}>
          <img src={`/img/friends/${sponsor.imgName}`} />
        </a>
      </li>
    ))
  }
</ul>

<div class="content center">
  <h2>Our Friends</h2>

  <p>
    The communities that support our event
  </p>
</div>

<ul role="list" class="sponsors-list">
  {
    sponsors.map((sponsor) => (
      <li class="sponsors-list-item">
        <a class="friend-link" href={sponsor.url}>
          <img src={`/img/friends/${sponsor.imgName}`} />
        </a>
      </li>
    ))
  }
</ul>

<style>
  .sponsors-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
  }

  .sponsors-list-item {
    list-style: none;
    width: 200px;
    display: flex;
  }

  .friend-link {
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: outline-offset var(--speed-fade) ease-out;
  }

  .friend-link:hover {
    outline: solid var(--color-accent-pink);
    outline-offset: -10px;
  }

  .friend-link img {
    width: 100%;
  }

  .friend-link::after {
    display: none;
  }
</style>
