<div class="hero">
  <div class="hero-content">
    <span>Open-Source Community Event</span>
  </div>
</div>
<style>
  .hero {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/img/hero.jpg") center center no-repeat;
    background-size: 100%;
  }

  .hero-content {
    color: white;
  }
</style>
