<div class="hero">
  <div class="hero-content">
    <img class="logo" src="/img/logo.svg" />
    <div><strong>Open-Source</strong> Community Event</div>

    <div class="date">May <span class="highlight">18-19th</span> 2023</div>

    <p>in Cluj-Napoca, Romania</p>
    <p>#ReturnOfTheHeroes</p>
  </div>
</div>
<style>
  .hero {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/img/banner.svg") center center no-repeat;
    background-size: 100%;
  }

  .hero-content {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-family-display);
  }

  .hero-content p {
    margin: 0;
  }

  .logo {
    width: 30vw;
  }

  .date {
    border: 2px solid white;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: var(--font-size-lg);
    font-weight: 500;
  }

  .highlight {
    font-size: 1.2em;
  }
</style>
