---
import PersonCard from "../components/PersonCard.astro";
import type { Person } from "../data/types";

const organizers = await Astro.glob<Person>("../data/organizers/*.md");
---

<div class="content center">
  <h2>Meet the team</h2>
</div>

<ul role="list" class="organizers-list">
  {
    organizers.map((organizer) => (
      <>
        <li class="organizers-list-item">
          <PersonCard variant="small" personMarkdown={organizer} />
        </li>
      </>
    ))
  }
</ul>

<style>
  .organizers-list {
    display: flex;
    flex-wrap: wrap;
    align-item: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
  }

  .organizers-list-item {
    list-style: none;
    padding-bottom: 1rem;
  }

  .organizers-list-item:nth-child(3n) {
    --person-accent-color: var(--color-accent-pink);
  }

  .organizers-list-item:nth-child(3n + 1) {
    --person-accent-color: var(--color-accent-orange);
  }

  .organizers-list-item:nth-child(3n + 2) {
    --person-accent-color: var(--color-accent-green);
  }
</style>
