---
import SpeakerCard from "../components/SpeakerCard.astro";

const speakers = [
  {
    name: "Carolyn Stransky",
    title: "Software Developer",
    company: "BRYTER",
    imgName: "carolyn-stransky.jpeg",
  },
  {
    name: "Anjana Vakil",
    title: "Software Engineer & Educator",
    company: "",
    imgName: "anjana-vakil.jpg",
  },
  {
    name: "Stefan Judis",
    title: "Devrel",
    company: "Checkly",
    imgName: "stefan-judis.jpg",
  },
  {
    name: "Sara Vieira",
    title: "Developer",
    company: "Remote",
    imgName: "sara-vieira.png",
  },
];
---

<div class="content center">
  <h2>Our 2022 Heroes</h2>
</div>

<ul role="list" class="speaker-list">
  {
    speakers.map((speaker) => (
      <li class="speaker-list-item">
        <SpeakerCard {...speaker} />
      </li>
    ))
  }
</ul>

<style>
  .speaker-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 2rem 0;
  }

  .speaker-list-item {
    list-style: none;
  }

  .speaker-list-item:nth-child(3n + 1) :global(.photo) {
    border-color: var(--color-accent-orange);
  }

  .speaker-list-item:nth-child(3n + 2) :global(.photo) {
    border-color: var(--color-accent-green);
  }
</style>
