---
import SpeakerCard from "../components/SpeakerCard.astro";
import { speakers } from "../data/speakers";
import { ambassadors } from "../data/ambassadors";
---

<div class="content center">
  <h2>First</h2>
</div>

<ul role="list" class="speaker-list">
  {
    Object.values(speakers).map((speaker) => (
      <li class="speaker-list-item">
        <SpeakerCard {...speaker} />
      </li>
    ))
  }
</ul>

<div class="content center">
  <h2>And our awesome ambassadors</h2>

  <p>
    An amazing group of people who said yes to the challenge of working with us
    at making JSHeroes awesome!
  </p>
</div>

<ul role="list" class="speaker-list">
  {
    ambassadors.map((ambassador) => (
      <li class="speaker-list-item">
        <SpeakerCard {...ambassador} />
      </li>
    ))
  }
</ul>

<style>
  .speaker-list {
    display: flex;
    flex-wrap: wrap;
    align-item: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
  }

  .speaker-list-item {
    list-style: none;
    padding-bottom: 1rem;
  }

  .speaker-list-item:nth-child(3n + 1) :global(.photo) {
    border-color: var(--color-accent-orange);
  }

  .speaker-list-item:nth-child(3n + 2) :global(.photo) {
    border-color: var(--color-accent-green);
  }
</style>
