---
export interface Props {
  rotate?: number;
  animation?: "scale" | "scaleAndSlide";
}

const { animation = "scale", rotate } = Astro.props as Props;

const animationClass =
  animation === "scaleAndSlide"
    ? "hover:translate-x-[20px] hover:scale-[1.05]"
    : "hover:scale-[1.1]";
---

<a
  class={`block transition-transform ease-out duration-move ${animationClass}`}
  data-animation={animation}
  href="/meet-ecma"
  title="Read more about Ecma, the JSHeroes bear mascot"
  ><img
    class="w-[6rem] md:w-[11rem]"
    style={rotate ? { transform: `rotate(${rotate}deg` } : {}}
    src="/img/props/bear.svg"
    alt="Ecma, JSHeroes mascot wearing a space suit"
  />
</a>
