<footer
  class="flex flex-col gap-2 p-4 pt-16 text-neutral-light bg-neutral-dark to-50% font-display"
>
  <div class="w-full m-auto max-w-[1280px] flex justify-around">
    <div class="flex flex-col gap-2 items-start">
      <strong>Useful links</strong>
      <a class="navlink" href="mailto:welcome@jsheroes.io">Contact us</a>
      <a class="navlink" href="/coc">Code of conduct</a>
      <a class="navlink" href="/privacy">Privacy statement</a>
      <a class="navlink" href="/terms-and-conditions">Terms and Conditions</a>
      <a class="navlink" href="/media">Media Kit</a>
    </div>
    <div class="flex flex-col gap-2 items-start">
      <strong>Follow us</strong>
      <a
        class="navlink"
        href="https://bsky.app/profile/jsheroes.io"
        target="_blank"
        rel="noreferrer noopener">Bluesky</a
      >
      <a
        class="navlink"
        href="https://facebook.com/jsheroes"
        target="_blank"
        rel="noreferrer noopener">Facebook</a
      >
      <a
        class="navlink"
        href="https://www.linkedin.com/company/jsheroes-community/"
        target="_blank"
        rel="noreferrer noopener">LinkedIn</a
      >
      <a
        class="navlink"
        href="https://www.youtube.com/jsheroes"
        target="_blank"
        rel="noreferrer noopener">YouTube</a
      >
      <a
        class="navlink"
        href="https://www.meetup.com/jsheroes/"
        target="_blank"
        rel="noreferrer noopener">Meetup</a
      >
    </div>
  </div>
  <p class="text-center">
    © {new Date().getFullYear()} · JSHeroes. All rights reserved.
  </p>
</footer>
