<footer>
  <div class="content list">
    <div class="column">
      <strong>Useful links</strong>
      <a class="navlink" href="mailto:welcome@jsheroes.io">Contact Us</a>
      <a class="navlink" href="/speak-at-jsheroes">Speak at JSHeroes</a>
      <a class="navlink" href="/meet-ecma">Meet Ecma</a>
      <a class="navlink" href="/code-of-conduct">Code of Conduct</a>
    </div>
    <div class="column">
      <strong>Follow Us</strong>
      <a
        class="navlink"
        href="https://twitter.com/jsheroes"
        target="_blank"
        rel="noreferrer noopener">Twitter</a
      >
      <a
        class="navlink"
        href="https://facebook.com/jsheroes"
        target="_blank"
        rel="noreferrer noopener">Facebook</a
      >
      <a
        class="navlink"
        href="https://www.youtube.com/jsheroes"
        target="_blank"
        rel="noreferrer noopener">Youtube</a
      >
      <a
        class="navlink"
        href="https://www.meetup.com/jsheroes/"
        target="_blank"
        rel="noreferrer noopener">Meetup</a
      >
    </div>
  </div>
  <p class="copywrite">
    © {new Date().getFullYear()} · JSHeroes. All rights reserved.
  </p>

  <style>
    footer {
      padding: 4rem 1rem 1rem 1rem;
      color: var(--color-neutral-light);
      background-color: var(--color-neutral-dark);
      font-family: var(--font-family-display);
      height: 375px;
    }

    .content {
      display: flex;
      justify-content: space-around;
    }

    .column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    .copywrite {
      margin-top: 2rem;
      text-align: center;
    }
  </style>
</footer>
