<header>
  <nav>
    <a class="navlink skip-navlink" href="#main">Skip navigation</a>
    <a class="navlink" href="/">Home</a>
    <a class="navlink" href="/#speakers">Speakers</a>
    <a class="navlink" href="/code-of-conduct">Code of Conduct</a>
  </nav>
</header>
<style>
  header {
    max-width: 1280px;
    position: relative;
    margin: auto;
  }

  nav {
    position: absolute;
    right: 0;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    font-family: var(--font-family-display);
    z-index: 1;
  }

  @media screen and (max-width: 756px) {
    nav {
      left: 0;
      justify-content: center;
    }
  }

  .skip-navlink {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
  }

  .skip-navlink:focus {
    clip: auto;
    height: auto;
    width: auto;
  }
</style>
