---
export interface Props {
  imgName: string;
  link: string;
  title: string;
  subtitle: string;
}

const { imgName, link, title, subtitle } = Astro.props as Props;
---

<div class="item-center flex flex-col gap-2 font-display">
  <a
    class="block h-64 md:h-48 w-64 md:w-48 overflow-hidden rounded-lg border-[4px] border-solid border-[var(--person-accent-color)] bg-neutral-light p-4 transition-all duration-fade ease-out hover:border-[16px] focus-visible:outline-dashed focus-visible:outline-[5px] focus-visible:outline-offset-8 focus-visible:outline-[var(--person-accent-color)] focus-visible:grayscale-0"
    href={link}
  >
    <img
      class="block w-full rotate-[20deg]"
      src={`/img/${imgName}`}
      alt="Ecma the bear mascot"
    />
  </a>
  <div class="flex flex-col">
    <span class="text-base font-semibold">
      {title}
    </span>

    <span class="text-sm">{subtitle}</span>
  </div>
</div>
