---
export interface Props {
  imgName: string;
  link: string;
  title: string;
  subtitle: string;
}

const { imgName, link, title, subtitle } = Astro.props as Props;
---

<div class="flex flex-col item-center gap-4 font-display">
  <a
    class="block p-4 bg-neutral-light w-60 h-60 overflow-hidden rounded-full border-0 border-solid border-[var(--person-accent-color)] grayscale transition-all ease-out duration-fade hover:border-[1rem] hover:grayscale-0 focus-visible:grayscale-0 focus-visible:outline-offset-8 focus-visible:outline-dashed focus-visible:outline-[5px] focus-visible:outline-[var(--person-accent-color)]"
    href={link}
  >
    <img
      class="block w-full rotate-[20deg]"
      src={`/img/${imgName}`}
      alt="Ecma the bear mascot"
    />
  </a>
  <div class="flex flex-col items-center text-center">
    <span class="font-semibold">
      {title}
    </span>

    <span>{subtitle}</span>
  </div>
</div>
