---
export interface Props {
  variant: "light" | "dark";
  content: "text" | "list" | "full" | "center";
  id?: string;
  class?: string;
}

const { id, variant, content, class: className = "" } = Astro.props as Props;
---

<section
  id={id}
  data-variant={variant}
  class:list={[
    className,
    "group relative w-full px-4 pb-16 pt-12 md:pb-20 md:pt-16",
    { "bg-neutral-light text-neutral-dark": variant === "light" },
    { "bg-primary text-neutral-light": variant === "dark" },
  ]}
>
  <div
    class:list={[
      "mx-auto",
      {
        "flex max-w-[60ch] flex-col gap-4 group-[.prose]:gap-0":
          content === "text",
      },
      { "flex max-w-[1280px] flex-col gap-4": content === "list" },
      { "w-full": content === "full" },
      { "text-center": content === "center" },
    ]}
  >
    <slot />
  </div>
</section>
