---
export interface Props {
  variant: "light" | "dark";
  content: "text" | "list" | "full" | "center";
  id?: string;
  class?: string;
}

const { id, variant, content, class: className = "" } = Astro.props as Props;
---

<section
  id={id}
  data-variant={variant}
  class:list={[
    className,
    "group relative w-full px-4 md:px-8 pb-16 first:pt-8 pt-12 md:pb-40 md:pt-24",
    { "bg-neutral-light text-neutral-dark": variant === "light" },
    { "bg-gradient-to-br from-brand-darknavy from-50% to-brand-purple to-90% text-neutral-light": variant === "dark" },
  ]}
>
  <div
    class:list={[
      "mx-auto",
      {
        "flex max-w-[65ch] flex-col gap-4 group-[.prose]:gap-0":
          content === "text",
      },
      { "flex max-w-[1280px] flex-col gap-4": content === "list" },
      { "w-full": content === "full" },
      { "text-center": content === "center" },
    ]}
  >
    <slot />
  </div>
</section>
