---
export interface Props {
  variant: "light" | "dark";
  content: "text" | "list" | "full";
  id?: string;
  class?: string;
}

const { id, variant, content, class: className } = Astro.props as Props;
---

<section id={id} class={`section ${variant} ${className}`}>
  <div class={`content ${content}`}>
    <slot />
  </div>
</section>
<style is:global>
  .section {
    padding: 4rem 1rem 5rem;
    width: 100%;
    position: relative;
  }

  @media screen and (max-width: 756px) {
    .section {
      padding: 3rem 1rem 4rem;
    }
  }

  .section.light {
    background: var(--color-neutral-light);
    color: var(--color-neutral-dark);
  }

  .section.dark {
    background: var(--color-primary);
    color: var(--color-neutral-light);
  }

  .content {
    margin: auto;
  }

  .content.text {
    max-width: 60ch;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .content.list {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .content.full {
    width: 100%;
  }

  .content.center {
    text-align: center;
  }
</style>
