---
export interface Props {
  variant: "light" | "dark";
  content: "text" | "list" | "full";
  id?: string;
}

const { id, variant, content } = Astro.props as Props;
---

<section id={id} class={`section ${variant}`}>
  <div class={`content ${content}`}>
    <slot />
  </div>
</section>
<style is:global>
  .section {
    padding: 4rem 1rem;
    width: 100%;
    position: relative;
  }

  @media screen and (max-width: 756px) {
    .section {
      padding: 3rem 1rem;
    }
  }

  .section.light {
    background: var(--color-neutral-light);
    color: var(--color-neutral-dark);
  }

  .section.dark {
    background: var(--color-primary);
    color: var(--color-neutral-light);
  }

  .content {
    margin: auto;
  }

  .content.text {
    max-width: 60ch;
  }

  .content.text h2:not(:first-child) {
    margin-top: 3rem;
  }

  .content.text a {
    padding-bottom: 2px;
    border-bottom: 1px solid var(--color-accent-pink);
    transition: outline-offset var(--speed-fade) ease-out,
      padding-bottom var(--speed-fade) ease-out,
      border-width var(--speed-fade) ease-out;
  }

  .content.text a:hover {
    padding-bottom: 0;
    border-width: 3px;
  }

  .content.list {
    max-width: 1280px;
  }

  .content.full {
    width: 100%;
  }

  .content.center {
    text-align: center;
  }
</style>
