---
import BearLink from "../components/BearLink.astro";

export interface Props {
  variant?: 'sponsor' | 'default';
}

const { variant = 'default' } = Astro.props as Props;

const subTitle = variant === 'default' ? "An all things JavaScript conference" : "The biggest dev community event in Romania"

---

<div
  class="relative flex h-[400px] items-center justify-center bg-primary md:h-[550px]"
>
  <img
    class="h-full w-full object-cover"
    src="/img/banners/default.svg"
    alt="Space with stars and rockets"
  />
  <div
    class="absolute flex flex-col items-center gap-4 font-display text-neutral-light"
  >
    <img
      class="width-[clamp(10rem, 30vw, 18rem)] aspect-[300/53]"
      src="/img/logo-dark.svg"
      alt="JSHeroes"
    />
    <h1 class="text-base">{subTitle}</h1>
    <p class="text-lg font-medium">
      May <span class="text-[1.2em]">29-30th</span> 2025
    </p>
    <p>in Cluj-Napoca, Romania</p>
    {
      variant === 'default' && (
        <a
          href="https://ti.to/jsheroes/2025/"
          target="_blank"
          rel="noreferrer noopener"
          class="cta-button"
        >
          Buy tickets
        </a>
      )
    }
    <span class="bear-anchor absolute bottom-[-140px] right-0 z-10 animate-none md:bottom-[-180px] md:right-[-120px] lg:bottom-[-240px] lg:right-[-200px] lg:animate-bear-float">
      <BearLink animation="scale" />
    </span>
  </div>
</div>
