---
import BearLink from "../components/BearLink.astro";
---

<div
  class="relative flex h-[400px] items-center justify-center bg-primary md:h-[550px]"
>
  <img
    class="h-full w-full object-cover"
    src="/img/banners/default.svg"
    alt="Space with stars and rockets"
  />
  <div
    class="absolute flex flex-col items-center gap-4 font-display text-neutral-light"
  >
    <img
      class="width-[clamp(10rem, 30vw, 18rem)] aspect-[300/53]"
      src="/img/logo-dark.svg"
      alt="JSHeroes"
    />
    <p>An all things JavaScript conference</p>
    <p class="text-lg font-medium">
      May <span class="text-[1.2em]">23-24th</span> 2024
    </p>
    <p>in Cluj-Napoca, Romania</p>
    <a
      href="https://ti.to/jsheroes/2024"
      target="_blank"
      rel="noreferrer noopener"
      class="cta-button">Buy tickets</a
    >

    <span
      class="bear-anchor lg:animate-bear-float absolute bottom-[-140px] right-0
    z-10 animate-none md:bottom-[-180px] md:right-[-120px] lg:bottom-[-240px] lg:right-[-200px]"
    >
      <BearLink animation="scale" />
    </span>
  </div>
</div>
