---
import { Content as News } from "./news.md";
import { YouTube } from "@astro-community/astro-embed-youtube";
---

<News />

<h2>Looking Back at 2023</h2>
<p>
  If you've never been to one of our events before, or you're just nostalgic
  thinking back, here's a little treat for you.
</p>

<YouTube id="N6qr6L37sl8" />
