<h2>Join us in 2025!</h2>

<p>
  JSHeroes is a non-profit community-organized event, held every year in Cluj,
  Romania. Our goal is to bring together JS and Web/Frontend enthusiasts from
  all over the world for a single-track two-day conference with: quality
  content, amazing networking and tons of fun. You bring your ideas and desire
  to learn, we provide the relaxed atmosphere and the good vibes.
</p>

<p>
  Our 7th edition will take place on the <strong>29th</strong> and <strong
    >30th</strong
  > of <strong>May 2025</strong>!
</p>

<p>
  Tickets are <a
    href="https://ti.to/jsheroes/2025"
    target="_blank"
    rel="noreferrer noopener">available on our ti.to</a
  > page.
</p>
