---
import { YouTube } from "@astro-community/astro-embed-youtube";
---

<h2>Join us in 2024!</h2>

<p>JSHeroes is a non-profit community-organized event, held every year in Cluj, Romania. Our goal is to bring together JS and Web/Frontend enthusiasts from all over the world for a single-track two-day conference with: quality content, amazing networking and tons of fun. You bring your ideas and desire to learn, we provide the relaxed atmosphere and the good vibes.</p>

<p>Our 6th edition will take place on the <strong>23th</strong> and <strong>24th</strong> of <strong>May 2024</strong>! Early bird tickets are <a href="https://ti.to/jsheroes/2024" target="_blank" rel="noreferrer noopener">available on our ti.to</a> page.</p>

<p>
  If you've never been to one of our events before, or you're just nostalgic
  thinking back, here's a little treat for you.
</p>

<YouTube id="N6qr6L37sl8" />
