---
import { getCollection } from "astro:content";
import PersonCard from "../components/PersonCard.astro";

const organizers = await getCollection("organizers");

const listStyles = "flex flex-wrap justify-center gap-8 py-8 px-0";
const listItemStyles = "list-item list-none pb-2";
---

<div class="text-center">
  <h2>Meet the team</h2>
</div>

<ul role="list" class={listStyles}>
  {
    organizers.map((o) => (
      <>
        <li class={listItemStyles}>
          <PersonCard variant="small" person={o} />
        </li>
      </>
    ))
  }
</ul>

<style>
  .list-item:nth-child(3n) {
    --person-accent-color: theme("colors.accent-pink");
  }

  .list-item:nth-child(3n + 1) {
    --person-accent-color: theme("colors.accent-orange");
  }

  .list-item:nth-child(3n + 2) {
    --person-accent-color: theme("colors.accent-green");
  }
</style>
