---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import { CURRENT_YEAR, SEO_TAGLINE } from "../data/constants";
import AuthorCard from "../components/AuthorCard.astro";
import { getEntryBySlug } from "astro:content";

const { frontmatter } = Astro.props;

const author = await getEntryBySlug("organizers", frontmatter.author);
---

<BaseLayout
  title={`JSHeroes ${CURRENT_YEAR} | ${frontmatter.title || SEO_TAGLINE}`}
>
  <img
    class="block h-[500px] w-full object-cover"
    src={frontmatter.banner || "/img/banners/default-with-bear.svg"}
    aria-hidden
  />
  <main id="main">
    <Section variant="light" content="text" class="max-w-none">
      {
        author && (
          <AuthorCard author={author} publishDate={frontmatter.published} />
        )
      }
      <div class="prose">
        <h1>{frontmatter.title}</h1>
        <slot />
      </div>
    </Section>
  </main>
</BaseLayout>
